<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
			  <li><a href=""><img src="project_files/images/scrapeopen_logo.svg" alt="Logo"></a></li>
			  <li><a href="">Home</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:francesco.bailo@sydney.edu.au">email</a></li>
	        		<li><a href="https://github.com/fraba/ScrapeOpen">github.com/fraba/ScrapeOpen</a></li>
				</ul>
			</footer>
		</body>
	</html>