<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/ScrapeOpen/css/main.css">
<!-- link to font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		</head>
<body>
<nav>
<ul>
  <li><a href="/ScrapeOpen"><img src="/ScrapeOpen/images/scrapeopen-logo.png" alt="Logo" height="32" align="middle"></a></li>
  <li><a href="/ScrapeOpen">Home</a></li>
  <li></li>
</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:francesco.bailo@sydney.edu.au">email</a></li>
				<li><a href="https://github.com/ScrapeOpen">github.com/ScrapeOpen</a></li>
				<li><a href=""><img src="/ScrapeOpen/images/scrapeopen-logo.png" alt="Logo" height="22"></a></li>
				</ul>
			</footer>
		</body>
	</html>